h1 {
  color: red;
  font-size: 200px;
  padding: 150px 0;
  text-shadow: 2px 2px black;

}
h2 {
  color: red;
  font-size: 200px;
  padding: 70px 0;
  text-align: center;
  text-shadow: 2px 2px black;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("https://cdn.pixabay.com/photo/2017/12/09/08/18/pizza-3007395_960_720.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font-family: sans-serif;
  text-align: center;
}

img {
    width: 500px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img:hover {
  transform:rotate(5deg);
}
.end {
  background-image: url("https://cdn.pixabay.com/photo/2015/04/28/21/20/pizza-744405_960_720.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
